/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}
header{
    width: 100%;
    background-color: #244667;
}


/* Estilos de la barra de navegación */
nav {
    background-color: #244667;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0.625rem 0;
    flex-wrap: wrap;
}

nav .logo img {
    width: 3.125rem;
    height: 3.125rem;
    margin-right: 1.25rem;   /* Agregamos un margen a la derecha del logo */
}

/* Espacio entre el logo y el menú */
.spacer {
    flex-grow: 1;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 2.5rem;
}

nav ul li {
    margin-right: 2.5rem;
    margin-left: 2.5rem;


}

nav ul li a {
    text-decoration: none;
    color: #fff;

}
ul :hover{                                    /*cambia de color cuando pasa el cursor*/
    color: #244667;
    background-color: #B8CCDD;
    
}


/* Estilos botones */

.boton {
    display: inline-block;
    padding: 0.625rem 1.25rem;
    border: 0.125rem solid #B8CCDD; /* Cambia el color del borde */
    border-radius: 1.5625rem; /* Esto hace que los bordes sean redondeados */
    color: #B8CCDD; /* Cambia el color del texto */
    text-decoration: none; /* Quita el subrayado de los enlaces */

}
@media screen and (max-width:768px){
    
    nav ul{
        flex-direction: column; /* Cambiar a disposición en columnas */
        align-items: center; /* Centrar elementos verticalmente */
        gap: 10px;
    }
    
}
/* Estilos del inicio */

.inicio {
    color: #245C91;
    font-size: 36;
}

.contenedor{
    border-radius: 0.9375rem;
    margin: 1.875rem;
    background-color:#EBEBEB ;
    padding-left: 12.5rem;
    padding-right: 12.5rem;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    text-align: left;

}

.info{
    font-size: 30;
    color: #245C91;
    font-weight: bold;
    text-align: left;
    display: inline-block;
    text-align: left;
    margin-right: 1rem;
    
    
}
.respuesta{
    display: inline-block;
    text-align: left;
}
/* estilo cuadrado del texto del proyecto*/
.textoProy{
    border-radius: 0.9375rem;
    
    background-color:#EBEBEB ;
    padding-left: 9rem;
    padding-right: 9rem;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    text-align: center;
    justify-content: center;
    height: 60%;
    width: 20rem;
}
.textoProy p{
    font-size: 50;
   
}
/* Estilos de las cards */
.card {
    border-radius: 1.875rem;
    background-color: #B8CCDD;
    text-align: center;
    display: inline-block;
    width: 15.625rem;
    height: 18.75rem;
    vertical-align: middle;
    margin: 1.875rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.card h2 {
    background-color: #fff;
    width: 100%;
    color: #000;
    height: 2.5rem;
    padding-top: 0.625rem;
    text-align: center;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nombreCard {
    background-color: #fff;
    width: 17.875rem;
    height: 3.125rem;
    margin:0%;
    
}

.card p {
    border-radius: 1.875rem;
    background: #244667;
    height: 2.4375rem;
    width: 9.5625rem;
    text-align: center;
    padding-top: 0.625rem;
    display: inline-block;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
}
.card a{
    text-decoration: none;
    color: #FFF;
}


/* Estilos para las imágenes */
.empleado-img {
    max-width: 100%; /* La imagen se ajustará al ancho de su contenedor  */
    height: 143px;; 
}

/* Centrar contenido en el main */
main {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar verticalmente en el eje principal */
    justify-content: center; /* Centrar horizontalmente en el eje principal */
    min-height: 80vh; /* Establece una altura mínima para el contenido principal */
}

/* Estilos del pie de página */
.footer{
    display: flex;
    width: 100%;
    height: 5.7rem;
    background: #fff;
}

.footer2{
    border-top: 3px solid #244667;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    position:relative;
    overflow: hidden;
    
}
.contacto img{
    overflow: hidden;
    max-width: 40%;
    background-color: white;
    object-fit: fill;
    
}
.contacto{
    display: flex;
    height: 3rem;
    width: 60rem;
    padding-left:6rem;
    justify-content: flex-start;
    background-color: #FFF;

    
}
.derechosReservados{
    color: #244667;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    float: center;
    white-space: nowrap;   /*para que este escrito todo en la misma linea*/

}
.logoUade img{
    overflow: hidden;
    max-width: 100%;
    
}
.logoUade{
    width: 30rem;
    margin-right: 15rem;  
    background-color: #FFF; 

}
